<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService211" />
                <binding name="BasicHttpBinding_IService2111" />
                <binding name="BasicHttpBinding_IService2112" />
                <binding name="BasicHttpBinding_IService2113" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16555/Service211.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService211" contract="GameServ.IService211"
                name="BasicHttpBinding_IService211" />
            <endpoint address="http://localhost:16555/Service211.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2111" contract="ServiceReference1.IService211"
                name="BasicHttpBinding_IService2111" />
            <endpoint address="http://localhost:16555/Service211.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2112" contract="ServiceReference2.IService211"
                name="BasicHttpBinding_IService2112" />
            <endpoint address="http://localhost:16555/Service211.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2113" contract="ServiceReference3.IService211"
                name="BasicHttpBinding_IService2113" />
        </client>
    </system.serviceModel>
</configuration>